/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --primary-background-color: #2f303a;
  --background-color: #ffffff;
  --accent-btn-text-color: #000000;
  --accent-btn-background-color: #188ce8;
  --team-background-color: #f5f4fa;
  --contact-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-bottom-color: #ececec;
  --icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: var(--primary-text-color);
}

.current,
.logo,
.nav-list__link:hover,
.nav-list__link:focus,
.contact-list__link:hover,
.contact-list__link:focus,
.address__link:hover,
.address__link:focus,
.modal__close-btn:hover,
.modal__close-btn:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  max-width: 145px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  cursor: pointer;
}
.logo__text--black {
  color: var(--accent-btn-text-color);
}
.logo__text--white {
  color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.button {
  padding: 10px 32px;
  background-color: var(--accent-text-color);
  transition: background-color var(--time-duration) var(--time-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  border: none;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--background-color);
}
.button:hover, .button:focus {
  background-color: var(--accent-btn-background-color);
}
@media screen and (min-width: 480px) {
  .button {
    white-space: nowrap;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}
.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);
  transition: background-color var(--time-duration) var(--time-function), fill var(--time-duration) var(--time-function);
}
.social-list__link:hover, .social-list__link:focus {
  fill: var(--background-color);
  background-color: var(--accent-text-color);
}
.social-list__link--gray {
  fill: var(--icon-color);
}

.check-box {
  position: relative;
  display: flex;
  width: 425px;
  height: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.check-box__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-left: 23px;
}
.check-box__text::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/icon_box.svg);
  fill: var(--primary-text-color);
}
.check-box__text::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 15px;
  content: "";
  background-color: var(--accent-text-color);
  background-image: url(../images/icon_check.svg);
  fill: var(--accent-text-color);
  opacity: 0;
}
.check-box__check:checked + .check-box__text::before {
  opacity: 0;
}
.check-box__check:checked + .check-box__text::after {
  opacity: 1;
}
.check-box__check:focus + .check-box__text {
  outline: 1px solid var(--accent-text-color);
}

.check-box__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration-line: underline;
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1600px;
  }
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header__menu-box {
  display: none;
  position: fixed;
  padding: 48px 40px;
  width: 100%;
  height: 768px;
  left: 0;
  top: 0;
  justify-content: space-between;
  background: var(--background-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.header__menu-box.is-open {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .header__menu-box {
    width: 480;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-box {
    display: flex;
    flex-direction: row;
    position: static;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    box-shadow: none;
  }
}

.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: block;
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.nav-list__item + .nav-list__item {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    width: 294px;
  }
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.contact-list {
  display: flex;
  flex-direction: column-reverse;
}
.contact-list__item + .contact-list__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 480px) {
  .contact-list {
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) {
  .contact-list {
    flex-direction: column;
    margin-left: auto;
  }
  .contact-list__item + .contact-list__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    flex-direction: row;
  }
  .contact-list__item + .contact-list__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.nav-list__link,
.contact-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--time-duration) var(--time-function), fill var(--time-duration) var(--time-function);
}
@media screen and (min-width: 768px) {
  .nav-list__link,
.contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav-list__link,
.contact-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-list__link {
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .contact-list__link {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
}

.contact-list__icon-email {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list__icon-email {
    display: block;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact-list__icon-tel {
  fill: currentColor;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-list__icon-tel {
    display: block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.contact-list__link--tel {
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .contact-list__link--tel {
    color: var(--secondary-text-color);
  }
}

.current {
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .current {
    position: relative;
  }
  .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-text-color);
  }
}

.header__button-menu {
  display: block;
  position: absolute;
  border: transparent;
  background-color: transparent;
  right: 15px;
  top: 10px;
  padding: 0;
}
.header__button-menu:hover .header__icon-menu, .header__button-menu:focus .header__icon-menu, .header__button-menu:hover .header__close-menu, .header__button-menu:focus .header__close-menu {
  fill: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}

.header__button-menu .header__icon-menu {
  display: block;
}

.header__button-menu.is-open .header__icon-menu {
  display: none;
}

.header__button-menu .header__close-menu {
  display: none;
}

.header__button-menu.is-open .header__close-menu {
  display: block;
}

.header__menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--accent-btn-text-color);
  transition: fill var(--time-duration) var(--time-function);
}

.header__soc-list {
  display: flex;
  padding-left: -10px;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .header__soc-list {
    display: none;
  }
}

.header__soc-item {
  padding: 0 10px;
}
.header__soc-item + .header__soc-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.header__soc-item:first-child {
  padding-left: 0;
}
.header__soc-item:last-child {
  padding-right: 0;
}

.header__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-color: var(--primary-background-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    padding: 118px 0px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    padding: 200px 0;
    background-color: var(--primary-background-color);
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--background-color);
  }
}

.benefits {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 1600px;
  }
}

.benefits__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-wrap: nowrap;
    margin-left: -30px;
  }
}

.benefits__item {
  max-width: 450px;
  text-align: left;
  background-color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
  .benefits__item + .benefits__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .benefits__item + .benefits__item {
    margin-top: 0;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__wrap-icon {
  height: 120px;
  width: 100%;
  background: var(--team-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.skills {
  display: none;
}
@media screen and (min-width: 1200px) {
  .skills {
    display: block;
    padding-top: 0;
    margin: 0 auto;
    width: 1600px;
  }
}

.skills__list {
  display: flex;
  margin-left: -30px;
}

.skills__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.skills__img-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}

.skills__img-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    margin: 0 auto;
    width: 1600px;
  }
}

.team__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-bottom: 0;
  }
}

.team__item {
  max-width: 450px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text-color);
}

.team__text {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.team__report {
  padding: 30px 122px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .team__report {
    padding: 30px 74px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__report {
    padding: 30px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    margin: 0 auto;
    width: 1600px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    justify-content: space-between;
  }
}

.client__item {
  max-width: 226px;
  max-height: 92px;
  margin-bottom: 30px;
  flex-basis: calc(50% - 30px);
  margin-left: 30px;
}
@media screen and (min-width: 480px) {
  .client__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    width: 226px;
    height: 92px;
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(16.6666666667% - 30px);
    margin-left: 30px;
    width: 170px;
    height: 92px;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: fill var(--time-duration) var(--time-function), border var(--time-duration) var(--time-function);
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.client__icon {
  width: 106px;
  height: 60px;
}

.footer {
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    margin: 0 auto;
    width: 1600px;
  }
}
.footer .container {
  height: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    padding-left: 76px;
    padding-right: 89px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    position: relative;
    text-align: left;
  }
}

.contacts {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts {
    text-align: left;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 0px;
  }
}

.address {
  margin: 0 auto;
  margin-top: 20px;
  width: 232px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin: 0;
    margin-top: 20px;
    max-width: 231px;
    text-align: left;
  }
}

.address__item + .address__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-color);
  transition: color var(--time-duration) var(--time-function);
}
.address__link--white {
  color: var(--background-color);
}

.footer__social {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.footer__title,
.subscript__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
}

.subscript {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .subscript {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscript {
    text-align: left;
    margin: 0;
    position: absolute;
    display: flex;
    right: 15px;
    padding-top: 48px;
  }
}

.subscript__label {
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscript__label {
    position: absolute;
    top: 12px;
  }
}

.subscript__input {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contact-color);
  transition: border-color var(--time-duration) var(--time-function);
}
.subscript__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscript__input:hover, .subscript__input:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 480px) {
  .subscript__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .subscript__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscript__input {
    width: 358px;
    margin: 0;
  }
}

.subscript__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscript__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
  }
}

.subscript__wrap-icon {
  fill: var(--background-color);
  margin-left: 10px;
}

.subscript__icon {
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  transition: opacity var(--time-duration), visibility var(--time-duration);
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  width: 450px;
  min-height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--time-duration) var(--time-function);
  background-color: var(--background-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 0;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}

.modal__box-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__box-input:hover, .modal__box-input:focus {
  fill: var(--accent-text-color);
}

.modal__icon {
  width: 18px;
  height: 18px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__textarea,
.modal__input {
  width: 370px;
  height: 58px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color var(--time-duration) var(--time-function);
}
@media screen and (min-width: 1200px) {
  .modal__textarea,
.modal__input {
    width: 448px;
    height: 40px;
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--time-duration) var(--time-function);
}
.modal__input:focus ~ .modal__icon {
  fill: var(--accent-text-color);
}

.modal__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__textarea:hover,
.modal__textarea:focus,
.modal__input:hover,
.modal__input:focus {
  color: var(--accent-btn-text-color);
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
}

.modal__check-box {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.modal__button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin: 0 auto;
    width: 1600px;
  }
}

.filters {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: -8px;
  width: 362px;
}
@media screen and (min-width: 480px) {
  .filters {
    width: 362px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
    justify-content: center;
    width: 611px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    width: 100%;
  }
}

.filters__btn {
  transition: background-color var(--time-duration) var(--time-function), color var(--time-duration) var(--time-function), box-shadow var(--time-duration) var(--time-function);
  border: transparent;
  background: var(--team-background-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  background-color: var(--team-background-color);
  cursor: pointer;
}
.filters__btn--current, .filters__btn:hover, .filters__btn:focus {
  color: var(--background-color);
  background-color: var(--accent-text-color);
}
.filters__btn:hover, .filters__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.project {
  margin-top: 40px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .project {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    margin-top: 40px;
  }
}

.project__item {
  margin-bottom: 30px;
  max-width: 450px;
  max-height: 404px;
}
@media screen and (min-width: 480px) {
  .project__item {
    width: 450px;
    height: 404px;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    width: 354px;
    height: 440px;
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
    width: 370px;
    height: 404px;
    text-align: start;
  }
}

.project__link {
  width: 100%;
  height: 100%;
  transition: cursor var(--time-duration) var(--time-function), box-shadow var(--time-duration) var(--time-function);
  display: block;
  border: none;
}
.project__link:hover, .project__link:focus {
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project__report {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.project__back {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.project__back-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(101%);
  transition: transform var(--time-duration) var(--time-function);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}
.project__link:hover .project__back .project__back-box {
  transform: translateY(0%);
}

.project__back-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.project__title {
  white-space: nowrap;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project__text {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */