.benefits{
  margin: 0 auto;
  @include desktop {
    width:  1600px;
  }
}



.benefits__list {
  display: block;
  @include tablet{
    margin-bottom: -30px;
    @include first_item_gridFlex (flex, wrap, -30px)
  }
  @include desktop{
    flex-wrap: nowrap;
    margin-left: -30px;
    }
}

.benefits__item {
    max-width: 450px; 
    text-align: left;
    background-color: var(--background-color);
    @include mobile{
      width: 450px;
      &+ & {
        margin-top: 30px;
      }
    }
    @include tablet{
      width: 354px;
      @include gridFlex (  2, 30px); 
      margin-bottom: 30px;
      & + & {
        margin-top: 0;
        margin-left: 30px;
      }
    }
    @include desktop{ 
    width: 270px;
    }

  }
  
  .benefits__wrap-icon {
    height: 120px;
    width: 100%;
    background: var(--team-background-color);
    @include centerFlex ();
  }
  
  .benefits__icon { 
    width: 70px; 
    height: 70px;
  }


  
  .benefits__title {
    margin-top: 30px;
    margin-bottom: 10px;
    @include font(null, 14px, 1.14, 0.03em, null);
    text-transform: uppercase;
    text-align: center;
    @include tablet{
      text-align: left
    }
  }


  .benefits__text {
    @include font(null, null, 1.71, 0.03em, var(--secondary-text-color));
  }