.footer {
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
  text-align: center;

  @include tablet {
    height: 463px;
  }

  @include desktop {
    height: 252px;
  }
  & .container {
    height: 100%;
    text-align: center;
    @include tablet {
      padding-left: 76px;
      padding-right: 89px;
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      padding-left: 15px;
      padding-right: 15px;
      flex-wrap: wrap;
      position: relative;
      text-align: left;
    }
  }
}
.contacts {
  text-align: center;
  @include tablet {
    text-align: left;
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 0px;
  }
}

.address {
  margin: 0 auto;
  margin-top: 20px;
  width: 232px;

  @include desktop {
    margin: 0;
    margin-top: 20px;
    max-width: 231px;
    text-align: left;
  }
}

.address__item + .address__item {
  margin-top: 8px;
  @include desktop {
    margin-top: 9px;
  }
}

.address__link {
  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em, var(--contact-color));
  transition: color var(--time-duration) var(--time-function);
  &--white {
    color: var(--background-color);
  }
}

.footer__social {
  margin-top: 60px;
  @include tablet {
    margin-top: 5px;
  }

  @include desktop {
    padding-top: 12px;
    margin-left: 70px;
  }
}
.footer__title,
.subscript__label {
  @include font(700, 14px, 1.14, 0.03em, var(--background-color));
  text-transform: uppercase;
}

.subscript {
  margin-top: 60px;
  @include tablet {
    text-align: center;
    margin: 0 auto;
  }
  @include desktop {
    text-align: left;
    margin: 0;
    position: absolute;
    display: flex;
    right: 15px;
    padding-top: 48px;
  }
}

.subscript__label {
  display: block;
  @include desktop {
    position: absolute;
    top: 12px;
  }
}
.subscript__input {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  @include font(null, 16px, 1.25, 0.03em, var(--contact-color));
  transition: border-color var(--time-duration) var(--time-function);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    cursor: pointer;
    outline: none;
  }

  @include mobile {
    max-width: 450px;
  }
  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 358px;
    margin: 0;
  }
}

.subscript__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  @include centerFlex();
  // padding: 10px 29px;
  // padding-right: 13px;
  @include desktop {
    @include centerFlex();
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
  }
}

.subscript__wrap-icon {
  fill: var(--background-color);
  margin-left: 10px;
}

.subscript__icon {
  width: 24px;
  height: 24px;
}
