
.header{
  @include desktop {
    width:  1600px;
  }
}

.header__container {
  display: none;
  @include tablet{
    display: flex;
    align-items: center;
  }
 
  }
  .header {
    border-bottom: 1px solid var(--border-bottom-color);
  }
  
  .header__logo {
    @include tablet{
    display: block;
    margin-right: 88px;
    padding: 26px 0;
  
    }
    @include desktop{
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
    }
  }
 
  
  .nav-list {
    display: flex;
    width: 294px;
    &__item +  &__item {
      margin-left: 50px;
    }
  }
 
  
  .contact-list {
    @include tablet{
      margin-left: auto;
      }
    @include desktop{ 
    display: flex;
    &__item +&__item {
      margin-left: 30px;
    }
  }
  }
  


  
  .nav-list__link,
  .contact-list__link {
    transition: color var(--time-duration) var(--time-function),
      fill var(--time-duration) var(--time-function);
    
    @include font(500, 12px, 1.17, 0.02em, null);
    @include desktop{
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14pxl, 1.14, 0.02em, null);
    }
  }
  .contact-list__link {
    @include tablet{
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    padding: 5px 0;
    }
    }
  
  .contact-list__icon-email {
    fill: currentColor;
    @include tablet{
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }
    @include desktop{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    }
  }
  .contact-list__icon-tel {
    fill: currentColor;
    @include tablet{
    width: 10px;
    height: 14px;
    margin-right: 8px;
    }
    @include desktop{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    
    }
  }
  
  
  .current {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: var(--accent-text-color);
    }
  }
  
 