.backdrop {
    position: fixed;
    top: 0;
    transition: opacity var(--time-duration), visibility var(--time-duration);
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
  }
 
  
  .modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--time-duration) var(--time-function);
    background-color: var(--background-color);
    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0);
    }
  }
  
  .modal__close-btn {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    @include centerFlex ();
    background-color: var(--background-color);
    padding: 0;
  }
  
  .modal__text {
    margin-bottom: 12px;
    @include font(700, 20px, 1.15, 0.03em, var(--primary-text-color));
    text-align: center;
    }
  .modal__box-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:hover,
    &:focus {
    fill: var(--accent-text-color);
  }
  }
  
  .modal__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
  }
  .modal__textarea,
  .modal__input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color var(--time-duration) var(--time-function);
  }
  
  .modal__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--time-duration) var(--time-function);
    .modal__input:focus ~ & {
      fill: var(--accent-text-color);
    }
  }
  .modal__textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;
  }
  
  
  
  
  .modal__textarea:hover,
  .modal__textarea:focus,
  .modal__input:hover,
  .modal__input:focus {
    color: var(--accent-btn-text-color);
    border-color: var(--accent-text-color);
    cursor: pointer;
    outline: none;
  }
  
  
  
  .modal__check-box {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  
  .modal__button {
    display: block;
    margin: 0 auto;
    padding: 10px 55px;
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .no-scroll {
    overflow: hidden;
  }
  