.portfolio {
    padding-top: 0;
  }
  
  .portfolio__list {
    @include first_item_gridFlex (flex, null, -30px);
  }
  .portfolio__item {
    position: relative;
    @include gridFlex ();
  }
  .portfolio__img-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 82px;
    background: rgba(47, 48, 58, 0.8);
  }
  .portfolio__img-title {
    @include font(null, 14px, 1.14, 0.03em, var(--background-color));
    text-align: center;
    text-transform: uppercase;
  }