

.project {
  @include first_item_gridFlex ();
      } 
  .project__item {
    @include gridFlex ();
    width: 370px;
    text-align: start;
    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }
 
  .project__link {
    width: 100%;
    height: 100%;
    transition:
      cursor var(--time-duration) var(--time-function),
      box-shadow var(--time-duration) var(--time-function);
    display: block;
    border: none;
    &:hover,
    &:focus{
      border: 1px solid var(--border-color);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }
    
  .project__report {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }
    
  .project__back {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
  }
  .project__back-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(101%);
    transition: transform var(--time-duration) var(--time-function);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    .project__link:hover .project__back & {
      transform: translateY(0%);
    }
  }
  

  
  .project__back-text {
    @include font(null, 18px, 1.56, 0.03em, var(--background-color));    
  }
  
  .project__title {
    white-space: nowrap;
    margin-bottom: 4px;
    @include font(null, 18px, 2, 0.06em, var(--primary-text-color));
    }
  
  .project__text {
    display: block;
    @include font(null, 16px, 1.88, 0.03em, var(--secondary-text-color));
  }