.check-box {
    position: relative;
    display: flex;
    width: 425px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .check-box__text {
    @include font(null, 14px, 1.71, 0.03em, var(--secondary-text-color));
    padding-left: 23px;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 16px;
      height: 15px;
      content: "";
      background-image: url(../images/icon_box.svg);
      fill: var(--primary-text-color);
    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 16px;
      height: 15px;
      content: "";
      background-color: var(--accent-text-color);
      background-image: url(../images/icon_check.svg);
      fill: var(--accent-text-color);
      opacity: 0;
    }
    .check-box__check:checked + &::before {
      opacity: 0;
    }
    .check-box__check:checked + &::after {
      opacity: 1;
    }
  
    .check-box__check:focus + &{
      outline: 1px solid var(--accent-text-color)
      }
  
  
  }
  


  .check-box__link {
    @include font(null, 14px, 1.71, 0.03em, var(--accent-text-color));
    text-decoration-line: underline;

  }